@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:ital@0;1&family=Texturina:ital,wght@1,200&display=swap');

body {
  margin: 0;
  font-family: 'Texturina', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:darkgrey !important;
}
h2 {
  font-family: 'Nerko One', cursive !important;
}

h3 {
  margin:3px 10px !important;
}
a:hover {
  color:black !important;
  text-decoration: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
